html{
    //height: 100%;
}
body{
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    //height: 100%;
    //overflow: hidden;
    margin: 0;
}
.container{
    //margin: 100px auto;
    //height: 500px;
    //background-color: lightblue;
}
.container div{
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    width: 320px;
    margin-top: 190px;
    background-color: lightskyblue;
    padding: 5px;
}
form textarea{
    width: 228px;
}
form input[type=submit]{
    margin-top: 8px;
    margin-bottom: 8px;
}