<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Modify Infos</title>
    <link type="text/css" href="/static/css/locate_infoAdd.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div>
            <form method="post" action="/modifyperson/">
                <label for="work_id">工号：</label>
                <input type="text" name="work_id" value="{{ workid }}" readonly="true" /></br>
                <label for="name">姓名：</label>
                <input type="text" name="name" value="{{ name }}" /> </br>
                <label for="region">区域：</label>
                <input type="text" name="region" value="{{ region }}" /></br>
                <label for="tel">分机：</label>
                <input type="text" name="tel" value="{{ phone }}" /></br>
                <label for="description">备注：</label>
                <textarea name="description" placeholder="不超过20字" value="{{ description }}" ></textarea></br>
                <input type="submit" value="修改" />
                <input type="reset" value="重置" />
            </form>
            <a href="/toMainPage">Return MainPage</a>

            {% if success %}
                 <p>Modify successed!.</p>
            {% endif %}

            {% if Error %}
                 <p>Modify Failed!Check content to submit once again.</p>
            {% endif %}

            {{ add_items }}
        </div>
    </div>
</body>
</html>