<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mainpage</title>
    <link href="/static/css/office_mainpage.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js" ></script>
    <script src="/static/js/office_mainpage.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="">Office Project</a>
        <ul>
            <li>
                <a href="#">位置查询</a>
            </li>
            <li>
                <a href="#">错误提交分析</a>
            </li>
        </ul>
        <div class="loginName_rightbar">
            <p>
                Logged in as<a href="#"> {{ name }}  </a>
            </p>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="container">
            <div class="leftbar">
                <div class="locate_item">
                    <h4>位置查询</h4>
                        <div class="leftbar_item" onclick="show_locate_search()">位置查询</div>
                        <div id="locate_search">
                            <ul>
                                <li><a href="#" onclick="loadXmlhttp(1)">按工号或名字查询</a></li>
                                <li><a href="#" onclick="loadXmlhttp(2)">按电话号码查询</a></li>
                            </ul>
                        </div>

                        <div class="leftbar_item" onclick="show_locate_add()">添加记录</div>
                        <div id="locate_add">
                            <ul>
                                <li><a href="/toInsertItem">添加记录</a></li>
                            </ul>
                        </div>
                        <div class="leftbar_item" onclick="show_locate_modify()">修改记录</div>
                        <div id="locate_modify">
                            <ul>
                                <li><a href="/toModifyItem">修改记录</a></li>
                            </ul>
                        </div>
                </div>

                <!--

                 <div class="error">
                   <h4>错误报告统计</h4>
                    <ul style="text-decoration: none">
                        <li>统计查询</li>
                        <li>统计记录</li>
                    </ul>
                </div>

                 -->

            </div>
            <div id="item_content">
                <div id="search_window">

                </div>

                <div id="result1" class="search_result" style="width: 600px">
                    <table style="width: 100%;line-height: 40px">
                        <thead>
                            <tr>
                                <th>Work ID</th>
                                <th>Name</th>
                                <th>Region</th>
                                <th>Tel</th>
                                <th>Description</th>
                                <th>Modify</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        {{ if  }}
                            <tbody id="search_content">



                            </tbody>
                        {{ endif }}
                    </table>
                </div>

            </div>
            <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
<div class="footer" >Footer@Edit By YS</div>
<script type="text/javascript">

</script>
</body>
</html>