<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mainpage</title>
    <link href="/static/css/office_mainpage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js" ></script>
</head>
<body>
    <div class="navbar">
        <a href="">Office Project</a>
        <ul>
            <li>
                <a href="#">位置查询</a>
            </li>
            <li>
                <a href="#">错误提交分析</a>
            </li>
        </ul>
        <div class="loginName_rightbar">
            <p>
                Logged in as<a href="#"> {{ name }}  </a>
            </p>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="container">
            <div class="leftbar">
                <div class="locate_item">
                    <h4>位置查询</h4>
                        <div class="leftbar_item" onclick="show_locate_search()">位置查询</div>
                        <div id="locate_search">
                            <ul>
                                <li><a href="#" onclick="loadXmlhttp(1)">按工号或名字查询</a></li>
                                <li><a href="#" onclick="loadXmlhttp(2)">按电话号码查询</a></li>
                            </ul>
                        </div>

                        <div class="leftbar_item" onclick="show_locate_add()">添加记录</div>
                        <div id="locate_add">
                            <ul>
                                <li><a href="/toInsertItem">添加记录</a></li>
                            </ul>
                        </div>
                </div>

                <!--

                 <div class="error">
                   <h4>错误报告统计</h4>
                    <ul style="text-decoration: none">
                        <li>统计查询</li>
                        <li>统计记录</li>
                    </ul>
                </div>

                 -->

            </div>
            <div id="item_content">
                <div id="search_window">

                </div>

                <div id="result1" class="search_result" style="width: 600px">
                    <table style="width: 100%;line-height: 40px">
                        <thead>
                            <tr>
                                <th>Work ID</th>
                                <th>Name</th>
                                <th>Region</th>
                                <th>Tel</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="search_content">



                        </tbody>
                    </table>
                </div>

            </div>
            <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
<div class="footer" >Footer@Edit By YS</div>
<script type="text/javascript">
    var xmlhttp = null;
    function loadXmlhttp(search_num)
    {
        var req;
	    if(window.XMLHttpRequest)
	    {
	        req=new XMLHttpRequest();
	    }else if(window.ActiveXObject)
	    {
	        req=new ActiveXObject("MSXML2.XMLHTTP.3.0");
	    }

	    if(req)
	    {
	        req.open("GET","/item_search?find="+search_num,true);
	        req.onreadystatechange=function()
	        {
	        	if(req.readyState == 4 && req.status == 200)
		        {
                        //alert(req.responseText)
                        document.getElementById("search_window").innerHTML = req.responseText
		        }
	        }
	        req.send();
	    }
    }

    function search_byname()
    {
        var req;
        value = document.getElementById("search_text").value
        //alert(value)
	    if(window.XMLHttpRequest)
	    {
	        req=new XMLHttpRequest();
	    }else if(window.ActiveXObject)
	    {
	        req=new ActiveXObject("Microsoft.XMLHTTP");
	    }

	    if(req)
	    {
            //alert("Ajax url is:/search_ByName?name="+value);
	        req.open("GET","/search_ByName?name="+value,true);
	        req.onreadystatechange=function()
	        {
                //alert(req.readyState)
                //alert(req.status)
	        	if(req.readyState == 4 && req.status == 200) {
                    //alert(req.responseText)
                    var text = req.responseText
                    var data = eval('(' + text + ')')
                    //alert('data is ' + data)
                    //alert(data)
                    //alert(data[1].workid)
                    //alert('data len is'+data.length)
                    json_to_table(data)
		        }
	        }
	        req.send();
	    }
    }


    function json_to_table(data)
    {
        var tbody2 = "";
        if (data != "") {
            $.each(data, function (n, value) {
                //alert(n + ' ' + value);
                var trs = "";
                trs += "<tr><td>" + value.name + "</td><td>" + value.workid + "</td><td>" + value.region + "</td><td>" + value.phone + "</td><td>" + value.description + "</td></tr>";
                tbody2 += trs;
            });
            $("#search_content").html(tbody2)
            $("#result1").show()
        }else {
            tbody2="<strong>not exist.</strong>";
            $("#search_window").html(tbody2)
        }
        //$("#sub_table_header").after(row_str);
    }

    function show_locate_search()
    {
        $("#locate_search").slideToggle();
    }
    function show_locate_add()
    {
        $("#locate_add").slideToggle();
    }
   // window.onload = loadXmlhttp();
</script>
</body>
</html>