<div style="border-radius: 3px;margin-bottom: 20px;width: 300px;padding: 20px;text-align: center"
     xmlns="http://www.w3.org/1999/html">
    <h2>Search by Name or WorkID</h2>
        Please input Name or workId</br></br>
    <input type="text" id="search_text" placeholder="Input Name" style="border-radius:3px;width: 180px;height: 30px;border: 1px solid #cccccc;font-size: 15px;padding: 2px 5px" />
    <button onclick="search_byname()" style=" width: 70px;height: 40px;border: 1px solid lavender;border-radius: 4px;background-color: #0088cc; margin-left: 20px;color: white;font-size: 20px;font-weight: bold;">查询</button>
</div>
<!--
    <form method="post" action="/search_ByName/">
        <input type="text" id="name" />
        <input type="submit" value="查询" />
        <input type="reset" value="重置" />
    </form>
-->


<!-- <div style="width:200px;height:200px;background-color:pink">This Ajax content!</div> >